@page "/view"
@inherits DSSProject

@layout EditorLayout

<style>
    .relations-state{
        display: flex;
    }
    .sheme-nav{
        flex: 3;
        padding: 5px;
        border-right: 1px solid gainsboro;
    }
    .sheme-info{
        flex: 7;
        padding: 5px 10px;
    }
    .sheme-info-total {

    }
    .sheme-info-fill{

    }
    .sheme-info-cons{

    }

    .info-details{
        margin: 0 1em;
    }

    .sheme-info ul{
        list-style-type: circle;
    }
    .sheme-info a{
        text-decoration: none;
        color: royalblue;
    }
    .sheme-info a:hover{
        color: blue;
    }

    .errors, .warnings, .no-errors{
        font-size: 1.15em;
    }
    .no-errors{
        color: green;
    }
    .errors{
        color: red;
    }
    .warnings{
        color: darkgoldenrod;
    }
</style>

<section>
    <div class="relations-state">
        <section class="sheme-nav">
            <h3>Схема иерархии</h3>
            <HierShemeBig LinkType="@RelationsLink" ViewSelection="HierShemeBig.ViewSelections.Relations"></HierShemeBig>
        </section>
        <div class="sheme-info">
            <section class="sheme-info-total">
                <h3>В общем</h3>
                <NavLink href="legacy/view">
                    Старый обзор
                </NavLink>
                <div class="info-details">
                    @if (RelationState.AreCorrect)
                    {
                        <p class="no-errors">
                            ✓ Отлично, все отношения заполнены и согласованы
                        </p>
                    }
                    else
                    {
                        <p class="warnings">
                            ! Для анализа результатов выбора необходимо исправить указанные недочеты
                        </p>
                    }
                </div>
            </section>

            <section class="sheme-info-fill">
                <h4>Заполнение</h4>
                <div class="info-details">
                    @if (RelationState.AreKnown)
                    {
                        <p class="no-errors">
                            ✓ Проблем нет
                        </p>
                    }
                    else
                    {
                        <p class="warnings">
                            ! Следующие отношения неизвестны:
                        </p>
                        <ul>
                            @foreach (var rel in Problem.RelationsRequired.Where(r => r.Unknown))
                            {
                                <li>
                                    <a href="@RelationsLink" @onclick="() => SetNow(rel)">
                                        @rel.From.Name --> @rel.To.Name | @rel.Main.Name
                                    </a>
                                </li>
                            }
                        </ul>
                        <p>
                            Необходимо установить связи между элементами.
                        </p>
                    }
                </div>
            </section>

            <section class="sheme-info-cons">
                <h4>Согласованность</h4>
                <div class="info-details">
                    @if (RelationState.AreConsistenct)
                    {
                        <p class="no-errors">
                            ✓ Проблем нет
                        </p>
                    }
                    else
                    {
                        <p class="errors">
                            X Отношения по данным критериям рассогласованы:
                        </p>
                        <ul>
                            @foreach (var node in Problem.NodesWithRels.Where(n => !RelationState.IsNodeConsistenct(n)))
                            {
                                <li>
                                    <a href="@RelationsLink" @onclick="() => SetNow(Problem.FirstRequiredRelation(node))">
                                        @node | Cr = @Problem.GetMtxRelations(node).Consistency.Cr.ToString("0.00")
                                    </a>
                                </li>
                            }
                        </ul>
                        <p>
                            Для устранения рассогласованности надо задать более логичные оценки элементов.
                        </p>
                    }
                </div>
            </section>
        </div>
    </div>
</section>

@code {

}
