@page "/relation/{relIndex:int}"
@inherits DSSComponentRelation
@layout EditorLayout

<style>
    table.matrix {
        border: 1px solid gainsboro;
        border-radius: 3px;
        padding: 5px;
        margin: 5px;
        width: 100%;
        table-layout: fixed;
    }

    .matrix th, .matrix td {
        padding: 8px 24px;
        text-align: center;
    }

    .matrix th {

    }

    .matrix .selectable:hover {
        cursor: pointer;
        color: black;
    }

    .matrix .selected {

    }


    .value {
        width: 30px;
    }

    .name-cell {
        width: 40%
    }
    .name-cell a:hover{
        text-decoration: underline;
    }

    .value-cell {
        text-align: center;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }


    .border-bottom-t {
        border-bottom: 1px solid gainsboro;
    }

    .matrix a {
        text-decoration: none;
        color: black;
        font-size: 1.1em;
        font-weight: 400;
    }

    .matrix a:hover {
        text-decoration: underline;
    }


    .special-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main-node {
        text-align: center;
        text-decoration: none;
    }
    .main-node:hover{
        text-decoration: underline;
    }
    .node-relation{

    }
    .node{
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: 1.35em;
    }
    .node:hover{
        text-decoration: underline;
    }
    .node-rating{
        text-align: center;
        border-right: 1px solid gainsboro;
        border-left: 0;
    }
    .node-rating:hover{
        background-color: whitesmoke;
        cursor: pointer;
    }
    .node-rating .selected{
        background-color: gainsboro;
    }

    .selectable {
        color: #4a4a4a;
    }
    .selected {
        border-right: 3px solid orange;
        border-left: 3px solid orange;
        border-radius: 5px;
    }
    
    

    .nodes{
        margin: 15px 5px;
        justify-content: space-around;
    }
    .ratings {
        margin: 5px 5px;
        align-items:stretch;
    }
    .ratings-tr{

    }
        .ratings-tr .safe {
            background-color: #dfffdf;
        }
        .ratings-tr .dangerous {
            background-color: #ffebee;
        }

    .new-system{
        padding: 10px 0;
        border: 1px solid gainsboro;
    }

    .clear-relation {
        background: transparent;
        border: 1px solid whitesmoke;
        padding: 5px 15px;
        width: 100%;
        cursor: pointer;
    }
    .clear-relation:hover{
        background-color: lightpink;
    }

    .matrix .results-text{
        padding: 20px 0;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        text-align: center;
    }
</style>



<table class="matrix" @onclick="@RelationUpdated">
    <tbody>
        <tr class="border-bottom-t" style="font-size: 1.2em">
            <th class="name-cell right">
                <NavLink href="@($"/node/{Relation.From.Level}/{Relation.From.Name}")">
                    @Relation.From.Name
                </NavLink>


            </th>
            <th class="name-cell left">
                <NavLink href="@($"/node/{Relation.To.Level}/{Relation.To.Name}")">
                    @Relation.To.Name
                </NavLink>
            </th>
        </tr>
        <tr class="ratings-tr">
            <td colspan="2" style="@((Relation.Value == 1) ? RatingEqual.Style : "")" class="@( (Relation.Value == 1) ? $"selected {GetClass(Relation.From, RatingEqual)}" : $"selectable {GetClass(Relation.From,RatingEqual)}")" @onclick="@(() => Relation.SetRating(Relation.From, 1))">@RatingEqual.Name</td>
        </tr>
        @foreach (var rating in Ratings)
        {
            <tr class="ratings-tr">
                <td style="@((Relation.Node == Relation.From && rating.Value == Relation.Rating) ? rating.Style : "")" class="@( (Relation.Node == Relation.From && rating.Value == Relation.Rating) ? $"selected {GetClass(Relation.From, rating)}" : $"selectable {GetClass(Relation.From, rating)}")" @onclick="@(() => Relation.SetRating(Relation.From, rating.Value))">
                    @rating.Name
                </td>
                <!--<td>-->@*@rating.Value*@<!--</td>-->
                <td style="@((Relation.Node == Relation.To && rating.Value == Relation.Rating) ? rating.Style : "")" class="@( (Relation.Node == Relation.To && rating.Value == Relation.Rating) ? $"selected {GetClass(Relation.To, rating)}" : $"selectable {GetClass(Relation.To, rating)}")" @onclick="@(() => Relation.SetRating(Relation.To, rating.Value))">
                    @rating.Name
                </td>
            </tr>
        }
        <tr>
            <td colspan="2" class="results-text">
                '@Relation.From.Name' @NodeRelation.GetTextRelationFor(Relation) '@Relation.To.Name'
            </td>
        </tr>

        <tr class="ratings-tr">
            <td colspan="2" style="@((Relation.Value == 0) ? RatingNone.Style : "")" class="@( (Relation.Value == 0) ? "selected" : "selectable")" @onclick="@(() => Relation.SetRating(Relation.From, 0))">@RatingNone.Name</td>
        </tr>
    </tbody>
</table>


@code {
    [Parameter]
    public EventCallback RelationUpdated { get; set; }


    private Rating RatingNone => new Rating(0);
    private Rating RatingEqual => new Rating(1);
    private Rating[] Ratings
    {
        get
        {
            List<Rating> ratings = new List<Rating>();
            for (int i = 3; i <= 9; i += 2)
            {
                ratings.Add(new Rating(i));
            }
            return ratings.ToArray();
        }
    }


    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        FromMtx.Clear();
        ToMtx.Clear();
        if (!Problem.GetMatrix(Relation.Main).WithZeros())
        {
            CreateMatrixes();
        }
    }
    private void CreateMatrixes()
    {
        for (double i = 1; i <= 9; i += 2)
        {
            FromMtx.Add(i, GetMatrixForRating(i));
        }
        for (double i = 3; i <= 9; i += 2)
        {
            ToMtx.Add(i, GetMatrixForRating(1 / i));
        }
    }
    private IMatrix GetMatrixForRating(double value)
    {
        IMatrix source = Problem.GetMatrix(Relation.Main);
        IMatrix mtx = new Matrix(source.Array);

        int x = Problem.IndexNode(Relation.From);
        int y = Problem.IndexNode(Relation.To);

        mtx.Array[x, y] = value;
        mtx.Array[y, x] = 1 / value;

        return mtx;
    }

    Dictionary<double, IMatrix> FromMtx { get; set; } = new Dictionary<double, IMatrix>();
    Dictionary<double, IMatrix> ToMtx { get; set; } = new Dictionary<double, IMatrix>();

    private string GetClass(INode node, Rating r)
    {
        Dictionary<double, IMatrix> dictionary = node == Relation.From ? FromMtx : ToMtx;
        if (dictionary.ContainsKey(r.Value))
        {
            return dictionary[r.Value].Consistency.IsCorrect() ? "safe " : "dangerous ";
        }
        return "usual ";
    }

}
