@inherits DSSComponentProject

<div class="confirm">
    <div class="confirm-info">
        @if (Project.IsUpdateAvailable)
        {
            @if (!Project.IsActiveHierCreated)
            {
                <input class="add" type="button" value="Утвердить созданную иерархию" @onclick="UpdateHierarchy" />
            }
            else
            {
                <span class="not-saved">Есть несохраненные изменения в структуре</span>
                <input class="add" type="button" value="Подтвердить новую иерархию" @onclick="UpdateHierarchy" />
                <input class="cancel" type="button" value="Отменить изменения" @onclick="CancelHierarchyChanges" />
                <ul class="fails">
                    @if (Project.IsActiveHierCreated)
                    {
                        <li>
                            <span>
                                Все отношения будут сброшены
                            </span>
                        </li>
                    }
                </ul>
            }
        }
        else if (Project.UnsavedChanged && !Project.IsUpdateAvailable)
        {
            <span class="warning">В структуре иерархии обнаружены ошибки:</span>
            <input class="cancel" type="button" value="Отменить изменения" @onclick="CancelHierarchyChanges" />
            <ul class="fails">
                @foreach (var check in HierarchyEditing.Correctness.ErrorsList)
                {
                    <li>
                        <span>
                            @check.Message
                        </span>
                    </li>
                }
            </ul>
        }
        else
        {
            <span class="all-saved">Все изменения сохранены</span>
        }
    </div>
    <div class="information">
        <div>
            <span class="property-name">Уровней: </span>
            <span class="property-value">@HierarchyEditing.LevelsCount</span>
        </div>
        <div>
            <span class="property-name">Узлов: </span>
            <span class="property-value">@HierarchyEditing.Nodes.Count()</span>
        </div>
        <div hidden>
            <span class="property-name">Отношений: </span>
            <span class="property-value">@HierarchyEditing.RelationsCount</span>
        </div>
        <div hidden>
            <span class="property-name">~ Времени на решение: </span>
            <span class="property-value">@HierarchyEditing.CountEstTime().Minutes мин. @HierarchyEditing.CountEstTime().Seconds сек.</span>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Project.OnEditingHierUpdated += (hier) => StateHasChanged();
        Project.OnActiveHierChanged += (hier) => StateHasChanged();
    }


    //Подтверждение иерархии
    private void UpdateHierarchy()
    {
        StateHasChanged();
        Project.SetActiveHierarchyAsEditing();
    }
    private void CancelHierarchyChanges()
    {
        Project.SetEditingHierarchyAsActive();
    }
}
