@inherits DSSProject

<style>
    .navside ul a {
        padding: 4px;
        text-decoration: none;
        border-right: 5px solid gainsboro;
        cursor: pointer;
    }

        .navside ul a.active {
            background-color: white;
            border-right: 5px solid orange;
            color: black;
            font-weight: 600;
        }

        .navside ul a:hover {
            color: black;
        }

.stage-menu a {
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid lightgreen;
    border-left: 2px solid lightgreen;
}

    .stage-menu a.warning {
        border-bottom-color: #cccc10;
        border-left-color: #cccc10;
    }

    .stage-menu a.error {
        border-bottom-color: red;
        border-left-color: red;
    }

    .stage-menu a.none {
        display: none;
    }


.stage-menu-element {
    display: flex;
    align-items: center;
}

.stage-element-image {
    flex: 1;
    margin: 0 10px;
    opacity: 50%;
    width: 25px;
}

.active .stage-element-image {
    opacity: 100%;
}

.stage-element-name {
    flex: 9;
    font-family: "Calibri Light";
    font-size: 1.4em;
}

.navside ul.inner-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px 20px;
}

    .navside ul.inner-list a {
        display: block;
        font-size: 0.8em;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 5px 10px;
    }
</style>

<nav class="navside">
    <div>
        <section class="stage-menu">
            <h2 class="stage-menu-header">Этапы решения задачи:</h2>
            <ul>
                <li>
                    <NavLink class="@HierClass" href="@HierLink">
                        <img class="stage-element-image" src="Images/Иерархия.png" />
                        <span class="stage-element-name">I ИЕРАРХИЯ</span>
                    </NavLink>
                </li>
                <li>
                    <ul class="inner-list">
                        <li>
                            <NavLink style="margin-left: 1em" class="@HierClass" href="@NodeLink">
                                I - Редактирование
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li>
                    <NavLink class="@ViewClass" href="@ViewLink">
                        <img class="stage-element-image" src="Images/Отношения.png" />
                        <span class="stage-element-name">II ОТНОШЕНИЯ</span>
                    </NavLink>
                </li>
                <li>
                    <ul class="inner-list">
                        @foreach (var criteria in NavNodes)
                        {
                            <li>
                                <a href="@RelationsLink" style="@LeftMarginNode(criteria)" class="@NodeClass(criteria)" @onclick="() => SetRelFromNode(criteria)" >
                                    II - @NodeIndex(criteria): @criteria.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <li>
                    <NavLink class="@ResultsClass" href="@ResultsLink">
                        <img class="stage-element-image" src="Images/Результаты.png" />
                        <span class="stage-element-name">III РЕЗУЛЬТАТЫ</span>
                    </NavLink>
                </li>
            </ul>
        </section>
    </div>
</nav>

@code{
    private IEnumerable<INode> NavNodes => Problem.NodesWithRels;

    private string HierClass => HierCss.CssClass();
    private string ViewClass => ViewCss.CssClass();
    private string ResultsClass => ResultsCss.CssClass();

    private string NodeClass(INode node)
    {
        var rel = Problem.FirstRequiredRelation(node);
        return new CssRelation(Project, rel).CssClass();
    }

    private int NodeIndex(INode node)
    {
        return NavNodes.ToList().IndexOf(node);
    }

    private void SetRelFromNode(INode node)
    {
        SetNow(Problem.FirstRequiredRelation(node));
    }

    private string LeftMarginNode(INode node)
    {
        return $"margin-left:{node.Level * 2}em";
    }
}


