@page "/node/{level:int}/{nodeName}/matrix"
@inherits DSSComponentNode
@layout EditorLayout


<style>
    .row-usual {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    .counts {
        flex-basis: 50%;
        font-size: 0.85em;
    }

    .relation-sel {
    }

    .mtx table {
        padding: 5px;
        border: 1px solid gainsboro;
    }
    .mtx table a{
        text-decoration: none;
    }
    .mtx table a:hover{
        text-decoration: underline;
    }
    .mtx table h4{
        margin: 5px 0;
    }

    td {
        padding: 5px 8px;
        text-align: center;
    }

    .selected-cell{
        background-color: whitesmoke;
    }

    .good-mtx {
        color: green;
        padding: 10px;
        
    }


    .unknown{
        background-color: lightyellow;
    }

    .bad-mtx {
        color: darkred;
        padding: 2px 10px;
    }

    .good-mtx, .bad-mtx{
        display: flex;
        justify-content: center;

    }

    .lower-border {
        border-bottom: 1px solid gainsboro;
    }

    .right-border {
        border-right: 1px solid gainsboro;
    }

    .mtx input[type="text"]{
        max-width: 6em;
    }

    .clear-relations {
        background: transparent;
        border: 1px solid whitesmoke;
        margin-left: 4px;
        margin-right: 4px;
        padding: 5px 15px;
        width: 40px;
        text-align: center;
        cursor: pointer;
        margin: inherit 6px;
    }

        .clear-relations:hover {
            background-color: lightpink;
        }
</style>
<div class="mtx">
    <table>
        <tbody>
            <tr>
                <td class="@(Mtx.Consistency.IsCorrect() ? "good-mtx" : "bad-mtx") lower-border right-border">
                    <h4>
                        <b>@Node.Name</b>  @(Mtx.Consistency.IsCorrect() ? "✓" : "X")
                    </h4>
                </td>

                @foreach (var node in Problem.CriteriasFurther[Node])
                {
                    <td class="lower-border">
                        <NavLink href="@($"/node/{node.Level}/{node.Name}")">
                            @node.Name
                        </NavLink>
                    </td>
                }
            </tr>
            @foreach (var node in Problem.GetGrouped(Node))
            {
                <tr>
                    <td class="right-border">

                        <NavLink href="@($"/node/{node.Key.Level}/{node.Key.Name}")">
                            @node.Key.Name
                        </NavLink>
                    </td>
                    @foreach (var relation in node)
                    {
                        <td class="@(relation == RelationSelected ? "selected-cell" : "")">
                            <input class="@(relation.Unknown)" disabled="@relation.Self" type="text" @onfocus="@(() => RelationSelected = relation)" @bind-value="@relation.Value" />
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>



@if (RelationSelected != null)
{
    @*<div class="relation-sel">
        <NodeQuestion RelationUpdated="@(() => StateHasChanged())" Relation="@RelationSelected" />
    </div>*@
}

<div class="counts">
    <details>
        <summary>
            <span>Подробные расчеты</span>
        </summary>
        <dl>
            <dt>nmax</dt>
            <dd>@Mtx.Consistency.Nmax</dd>
            <dt>CI</dt>
            <dd>@Mtx.Consistency.CI</dd>
            <dt>RI</dt>
            <dd>@Mtx.Consistency.RI</dd>
            <dt>CR </dt>
            <dd>@Mtx.Consistency.Cr</dd>

            <dt>Локальные коэффициенты</dt>
            <dd>
                <details>
                    <ul>
                        @foreach (var coeff in AHP.Matrix.LocalCoefficients(Mtx.Array))
                        {
                            <li>@coeff</li>
                        }
                    </ul>
                </details>
            </dd>


            <dt>Вектор произведения матрицы отношений и локальных коэффициентов</dt>
            <dd>
                <details>
                    <ul>
                        @foreach (var coeff in Mtx.Consistency.MultiMatrixLocalCoeffs)
                        {
                            <li>@coeff</li>
                        }
                    </ul>
                </details>
            </dd>

        </dl>
    </details>
</div>

@code {

    private INodeRelation RelationSelected { get; set; }

}
