@inherits DSSComponentProject

<style>
    .navside ul a {
        padding: 10px 2px;
        text-decoration: none;
        border-bottom: 5px solid transparent;
        cursor: pointer;
        color: darkblue;
    }

        .navside ul a.active {
            border-bottom: 5px solid orange;
            color: black;
        }

        .navside .warning ul a.active {
            color: #986b00;
        }

        .navside ul a:hover {
            color: blue;
        }

.stage-menu a {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 2px solid transparent;
}

/*    .stage-menu a.warning {
        border-bottom-color: #cccc10;
        border-left-color: #cccc10;
    }

    .stage-menu a.error {
        border-bottom-color: red;
        border-left-color: red;
    }*/

    .stage-menu a.none {
        display: none;
    }


.stage-menu-element {
    display: flex;
    align-items: center;
}

.stage-element-image {
    flex: 1;
    margin: 0 10px;
    opacity: 50%;
    height: 25px;
}

    .active .stage-element-image:hover {
        opacity: 80%;
    }

.active .stage-element-image {
    opacity: 100%;
}

.stage-element-name {
    flex: 20;
    font-size: 1.2em;
    margin: 0 5px;
}
.stage-menu-element .small{
    font-size: 1em;
}

.navside ul.inner-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px 4px;
}

    .navside ul.inner-list a {
        display: block;
        font-size: 0.8em;
        padding: 5px 4px;
    }
</style>

<nav class="navside">
    @if (!Project.IsEmptyProject)
    {
        <h2 class="text-center">Текущая задача: @Project.Name</h2>
        <div class="status-panel">
            <div class="actions-panel">
                @if (Project.IsActiveHierCreated)
                {
                    <button class="action-button save-as" @onclick="SaveJsonAsFile">
                        <img src="Images/save.svg" />
                        <span>Сохранить файл</span>
                    </button>
                    <button class="action-button save-as" @onclick="SaveAsTemplate">
                        <img src="Images/save.svg" />
                        <span>Сохранить как шаблон</span>
                    </button>
                    <button class="action-button copy" @onclick="CopyProblem">
                        <img src="Images/clipboard.svg" />
                        <span>Скопировать задачу</span>
                    </button>
                }
                <button class="action-button copy" @onclick="RemoveProblem">
                    <img src="Images/alert-octagon.svg" />
                    <span>Удалить задачу</span>
                </button>
            </div>
            <StatusLogComponent></StatusLogComponent>
        </div>
        <section class="stage-menu">
            <ul>
                <li>
                    <NavLink class="stage-menu-element" href="@LinksEnum.LinkHier">
                        <img class="stage-element-image" src="Images/layers.svg" />
                        <span class="stage-element-name">@(Project.IsActiveHierCreated ? "Иерархия" : "Формирование иерархии") @(Project.UnsavedChanged ? "*" : "") </span>
                    </NavLink>
                </li>
                @if (Project.IsActiveHierCreated)
                {
                    <li>
                        <NavLink class="stage-menu-element" href="@LinksEnum.LinkRelations">
                            <img class="stage-element-image" src="Images/share-2.svg" />
                            <span class="stage-element-name">@(Relations.Correct ? "" : !Relations.Known ? "" : "") Отношения и связи</span>
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="stage-menu-element" href="@LinksEnum.LinkResults">
                            <img class="stage-element-image" src="Images/list.svg" />
                            <span class="stage-element-name">Результаты</span>
                        </NavLink>
                    </li>
                }
            </ul>
        </section>
    }
    else
    {
        <h2 class="text-center">Нет открытой задачи</h2>
    }
</nav>

@code {
    [Inject]
    public IJsonService Json { get; set; }
    [Inject]
    public IFileService FileService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        ProjectsCollection.OnSelectedProjectChanged += (proj) => StateHasChanged();
    }


    private async Task SaveJsonAsFile()
    {
        string fileName = $"{Project.Name}.json";
        string text = Json.ConvertToJson(Project);
        await FileService.SaveFile(fileName, text);
        Logger.AddInfo(Project, $"Файл \"{fileName}\" сохранен", "А вот успешно или нет - этого мы не знаем", LogCategory.UI);
    }

    private void SaveAsTemplate()
    {
        Account.AddUserTemplate(Project);
        Logger.AddInfo(Project, $"Задача \"{Project.Name}\" сохранена в шаблон", "", LogCategory.UI);
    }

    private void RemoveProblem()
    {
        string oldName = Project.Name;
        ProjectsCollection.RemoveProject(Project);
        Logger.AddInfo(Project, $"Задача \"{oldName}\" удалена", "", LogCategory.UI);
    }
    private void CopyProblem()
    {
        ITemplateProject template = new TemplateProject(Project);
        ProjectsCollection.AddProject(template);

        var lastAdded = ProjectsCollection.ActiveProjects.Last();
        if(lastAdded != null && lastAdded.HierarchyActive.MainGoal != null)
        {
            var mainGoal = lastAdded.HierarchyActive.MainGoal;
            mainGoal.Name = $"{mainGoal.Name} (копия)";
            mainGoal = lastAdded.HierarchyEditing.MainGoal;
            mainGoal.Name = $"{mainGoal.Name} (копия)";
        }
        Logger.AddInfo(Project, $"Задача \"{Project.Name}\" скопирована", "", LogCategory.UI);
    }
}


