@inherits DSSComponentParamNode
@layout EditorLayout


<div>
    @if (NotEmpty())
    {
        <div>
            <div class="mtx">
                <table>
                    <tbody>
                        <tr>
                            <td class="cell-header @(IsCorrectMtx() ? "good-mtx" : "bad-mtx")">
                                <h4><b>@Relations[Node].Symbol()</b></h4> 
                            </td>
                            <td class="cell-header" colspan="@(NodesCount())">
                                <div>
                                    <h4>
                                        <b>@Node.Name</b>  
                                    </h4>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="cell-node">
                                Cr: @Mtx.Cr.ToString("0.00")
                            </td>
                            @foreach (var node in Node.Controlled())
                            {
                                <td class="cell-node">
                                    <a href="@NodeLink" @onclick="() => SetNow(node)">
                                        @node.Name
                                    </a>
                                </td>
                            }
                        </tr>
                        @foreach (var node in Relations[Node].MtxView)
                        {
                            <tr>
                                <td class="cell-node">
                                    <a href="@NodeLink" @onclick="() => SetNow(node.Key)">
                                        @node.Key.Name
                                    </a>
                                </td>
                                @foreach (var relation in node)
                                {
                                    <td class="@RelationClass(relation)">
                                        <input disabled="@Disabled(relation)" type="text" @bind-value="@relation.Value" @onfocus="@(() => RelationSelected = relation)" />
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="counts" hidden>
                <details>
                    <summary>
                        <span>Подробные расчеты</span>
                    </summary>
                    <dl>
                        <dt>nmax</dt>
                        <dd>@Mtx.Array.Nmax()</dd>
                        <dt>CI</dt>
                        <dd>@Mtx.Array.CI()</dd>
                        <dt>RI</dt>
                        <dd>@Mtx.Array.RI()</dd>
                        <dt>CR </dt>
                        <dd>@Mtx.Array.Cr()</dd>

                        <dt>Локальные коэффициенты</dt>
                        <dd>
                            <details>
                                <ul>
                                    @foreach (var coeff in Mtx.Coeffiients)
                                    {
                                        <li>@coeff</li>
                                    }
                                </ul>
                            </details>
                        </dd>


                        <dt>Вектор произведения матрицы отношений и локальных коэффициентов</dt>
                        <dd>
                            <details>
                                <ul>
                                    @foreach (var coeff in Mtx.Array.MultiMatrixLocalCoeffs())
                                    {
                                        <li>@coeff</li>
                                    }
                                </ul>
                            </details>
                        </dd>

                    </dl>
                </details>
            </div>
        </div>
    }
    else
    {
        <p>Матрица для данного критерия пуста</p>
    }

</div>

@code {
    [Parameter]
    public IEnumerable<INodeRelation> AllowedRelations { get; set; }


    private bool IsCorrectMtx()
    {
        return Mtx.IsCorrect;
    }
    private int NodesCount()
    {
        return Node.Controlled().Count();
    }

    private INodeRelation RelationSelected { get; set; }

    private bool Disabled(INodeRelation relation)
    {
        if (AllowedRelations != null && !AllowedRelations.Contains(relation))
        {
            return true;
        }
        if (relation.Self)
        {
            return true;
        }
        return false;
    }

    private bool NotEmpty()
    {
        return Node.Controlled().Any();
    }

    private string RelationClass(INodeRelation rel)
    {
        return new CssRelation(Mtx, RelationSelected, rel).CssClass();
    }
}
