@inherits DSSComponentProjectV2
<div class="criterias-list">
    @foreach (var criteriaGroup in Relations.GetActiveNodeCriterias().GroupBy(r => r.NodeMain.Group))
    {
        <div class="category-header">
            <span style="color:gray">Ур. @criteriaGroup.First().NodeMain.Level - </span>
            <span>
                @criteriaGroup.Key
                <span style="color:gray;font-size: 0.9em;" title="количество заполненных отношений">
                    [@criteriaGroup.CountFilled().Filtered / @criteriaGroup.CountFilled().Total]
                </span>
            </span>
        </div>
        @foreach (var criteria in criteriaGroup)
        {
            <a class="criteria @criteria.CssSelected(RelationSelected) @criteria.CssColorClass()" role="button" @onclick="() => SelectRelation(criteria.FirstNodeCompareRequired())" title="@criteria.Symbol().tooltip">
                <span class="criteria-char">
                    @criteria.Symbol().symbol
                </span>
                <div class="criteria-right">
                    <div class="criteria-info">
                        <span class="criteria-name">
                            @criteria.NodeMain.Name
                        </span>
                    </div>
                </div>
            </a>
            if (RelationSelected.Main == criteria.NodeMain && ShowNodeCompares)
            {
                <div class="local-relations">
                    <CriteriaNodeRelationsList RelationsCriteria="RelationSelected.CriteriaContext" Context="rel" ShowState="false" ShowHeader="false">
                        <RelationView>
                            <div class="row" style="justify-content: space-between">
                                <span>@rel.From.Name</span>
                                <span>@rel.To.Name</span>
                            </div>
                        </RelationView>
                    </CriteriaNodeRelationsList>
                </div>
            }
        }

    }
</div>

@code {
    [Parameter]
    public bool ShowNodeCompares { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        Project.OnSelectedRelationChanged += StateHasChanged;
    }
}
