@inherits DSSProject

<style>
    .rating-system{
        
    }
    .rating-system th{
        font-size: 0.95em;
        font-weight: 500;
        padding: 5px 0;
        border-bottom: 1px solid gainsboro;
    }
    .rating-system input{
        width: 90%;
        border: 0;
    }
</style>

<section>
    <h4>Оптимальные варианты</h4>
    <div>
        <div class="example-section">
            <div class="example-block" style="background-color:#dfffdf"></div>
            <span class="example-description">
                - Лучшая альтернатива
            </span>
        </div>
        <div class="example-section">
            <div class="example-block" style="background-color:white"></div>
            <span class="example-description">
                - Обычная альтернатива
            </span>
        </div>
    </div>

    <section>
        <h4>Система опроса</h4>
        <p>
            Текущая система: @DSSApp.RatingSystem.Name
        </p>
        <div>
            <label for="amount">Количество градаций оценок:</label> 
            <input id="amount" type="number" @bind-value="@DSSApp.RatingSystem.Amount" min="0" max="5" />
        </div>
        <section>
            <h5>Правила</h5>
            <table class="rating-system">
                <colgroup>
                    <col style="width:10%" />
                    <col style="width:10%" />
                    <col style="width:30%" />
                    <col style="width:50%" />
                </colgroup>
                <tr>
                    <th>От >=</th>
                    <th>До</th>
                    <th>Имя</th>
                    <th>Стиль</th>
                </tr>
                @foreach (var rule in DSSApp.RatingSystem.Rules)
                {
                    <tr>
                        <td>
                            <input type="number" @bind-value="@rule.FromVal" />
                        </td>
                        <td>
                            <input type="number" @bind-value="@rule.ToVal" />
                        </td>
                        <td>
                            <input type="text" @bind-value="@rule.Name" />
                        </td>
                        <td>
                            <input type="text" style="@rule.Style" @bind-value="@rule.Style" />
                        </td>
                    </tr>
                }
            </table>
        </section>
    </section>
</section>


