@page "/hierarchy"
@inherits DSSProject
@layout EditorLayout
@using DSSAlternative.Services
@inject Clipboard Clipboard

<section>
    <h2>
        Иерархия задачи выбора
    </h2>

    <div class="sheme basic-border">
        <div class="confirm">
            <div>
                @if (Project.CanTranferEditing)
                {
                    <span class="not-saved">Есть несохраненные изменения</span>
                    <input class="add" type="button" value="Обновить иерархию" @onclick="UpdateHierarchy" />
                }
                else if (Project.UnsavedChanged && !Project.CanTranferEditing)
                {
                    <span class="warning">В структуре иерархии обнаружены ошибки:</span>
                }
                else
                {
                    <span class="all-saved">Все изменения сохранены</span>
                }
            </div>
        </div>
        <ul class="fails">
            @foreach (var check in HierEditState.ErrorsList)
            {
                <li>
                    <span>
                        @check.Message
                    </span>
                </li>
            }
        </ul>

        <div class="information">
            <div>
                <span class="property-name">Уровней: </span>
                <span class="property-value">@HierarchyEdit.LevelsCount</span>
            </div>
            <div>
                <span class="property-name">Узлов: </span>
                <span class="property-value">@HierarchyEdit.Count()</span>
            </div>
            <div>
                <span class="property-name">Отношений: </span>
                <span class="property-value">@HierarchyEdit.RelationsCount</span>
            </div>
            <div hidden>
                <span class="property-name">~ Времени на решение: </span>
                <span class="property-value">@HierarchyEdit.CountEstTime().Minutes мин. @HierarchyEdit.CountEstTime().Seconds сек.</span>
            </div>
        </div>

        <Tab>
            <TabItem>
                <Title>
                    <h4 class="tab-header">Иерархия</h4>
                </Title>
                <ChildContent>
                    <div>
                        @foreach (var levelGroup in HierarchyEdit.GroupedByLevel)
                        {
                            <section class="level @(levelGroup.Key == 0 ? "main-goal-level" : "")">
                                <div class="level-name">
                                    <span class="level-index">Уровень @levelGroup.Key</span>
                                    <br>
                                    <span>@levelGroup.ElementAt(0).LevelName()</span>
                                    <br />

                                </div>
                                <div class="level-elements">
                                    @foreach (var node in levelGroup)
                                    {
                                        <div class="@HierClass(node) node-element" @onclick="@(() => NodeHovered = node)">
                                            <input class="input-text" type="text" @bind-value="@node.Name" />
                                            <input class="remove" type="button" value="X" @onclick="@(() => RemoveNode(node))" />
                                        </div>
                                    }
                                </div>

                                <div class="level-add">
                                    <input class="add" type="button" value="+" @onclick="@(() => AddNode(levelGroup.Key))" />
                                </div>

                            </section>
                        }
                        <section class="level new-level">
                            <div class="level-name">
                                <span>Уровень @HierarchyEdit.LevelsCount</span>
                            </div>
                            <input class="add " type="button" value="++" @onclick="@(() => AddNode(HierarchyEdit.LevelsCount))" />
                            <input class="add" type="button" value="+" style="visibility:hidden" />
                        </section>
                        <section style="display:flex">
                            <ColoredDefinition ColorBorder="orange" Color="White" Message="Контролирующие узлы"></ColoredDefinition>
                            <ColoredDefinition ColorBorder="red" Color="White" Message="Зависимые узлы"></ColoredDefinition>
                        </section>
                    </div>
                </ChildContent>
            </TabItem>
            <TabItem>
                <Title>
                    <h4 class="tab-header">Подробная структура</h4>
                </Title>
                <ChildContent>
                    <section style="padding: 1em 0.5em">

                        <table class="node-table-edit">
                            <colgroup>
                                <col style="width:20%" />
                                <col style="width:38%" />
                                <col style="width:14%" />
                                <col style="width:14%" />
                                <col style="width:14%" />
                            </colgroup>
                            <tr class="node-table-edit-header">
                                <th>Тип</th>
                                <th>Имя</th>
                                <th class="num">Уровень</th>
                                <th class="num">Группа</th>
                                <th class="num">Подчинена</th>
                            </tr>
                            @foreach (var node in HierarchyEdit.OrderBy(n => n.Level))
                            {
                                <tr class="node-table-edit-node">
                                    <td class="edit-text">
                                        <span class="node-text">@node.LevelName()</span>
                                    </td>
                                    <td class="edit-cell">
                                        <input type="text" @bind-value="@node.Name" />
                                    </td>
                                    <td class="edit-cell">
                                        <input type="number" @bind-value="@node.Level" />
                                    </td>
                                    <td class="edit-cell">
                                        <input type="number" @bind-value="@node.Group" />
                                    </td>
                                    <td class="edit-cell">
                                        <input type="number" @bind-value="@node.GroupIndex" />
                                    </td>
                                </tr>
                            }
                        </table>

                        <table class="structure">
                            <tr>
                                <th>Группа №</th>
                                <th>Критерии</th>
                                <th>Зависимые</th>
                            </tr>
                            @foreach (var group in HierarchyEdit.GroupBy(n => n.Group))
                            {
                                <tr>
                                    <td>
                                        @group.Key
                                    </td>
                                    <td>
                                        <ul>
                                            @foreach (var node in group)
                                            {
                                                <li>@node.Name</li>
                                            }
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            @foreach (var node in HierarchyEdit.Where(n => n.GroupIndex == group.Key))
                                            {
                                                <li>@node.Name</li>
                                            }
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </table>
                    </section>
                </ChildContent>
            </TabItem>
            <TabItem>
                <Title>
                    <h4 class="tab-header">JSON</h4>
                </Title>
                <ChildContent>
                    <p>
                        <button class="action-button" @onclick="() => Clipboard.WriteTextAsync(JsonCurrent)">
                            Скопировать в буфер обмена
                        </button>
                    </p>
                    <textarea rows="20" cols="75">
                     @JsonCurrent
                </textarea>
                </ChildContent>
            </TabItem>
        </Tab>
    </div>
</section>


@code {
    private Template TemplateCurrent => new Template(HierarchyEdit.OfType<Node>().ToArray())
    {
        Name = HierarchyEdit.MainGoal.Name,
        Img = "Images/tech.png",
        Description = "Сохраненная задача выбора"
    };
    private string JsonCurrent => JsonSerializer.Serialize<Template>(TemplateCurrent, DSSApp.JsonOptions);

    private INode NodeHovered { get; set; }


    private IHierarchy HierarchyEdit => Project.HierarchyEditing;


    //Подтверждение иерархии
    private void UpdateHierarchy() => Project.UpdateProblemFromEditing();


    //Редактирование иерархии
    private void AddNode(int level = -1)
    {
        level = level == -1 ? HierarchyEdit.LevelsCount - 1 : level;
        bool isAlternative = level == HierarchyEdit.MaxLevel || level == HierarchyEdit.MaxLevel + 1;

        string name = isAlternative ? $"А{HierarchyEdit.Alternatives.Count() + 1}" : $"К{HierarchyEdit.Criterias.Count() + 1}";
        INode newNode = new Node(level, name, level, level - 1);
        newNode.SetHierarchy(HierarchyEdit);
    }
    private void RemoveNode(INode e)
    {
        if (e != HierarchyEdit.MainGoal)
        {
            if(NodeHovered == e)
            {
                NodeHovered = null;
            }
            e.RemoveFromHierarchy();
        }
    }
    private string HierClass(INode node)
    {
        return new CssNode(node, NodeHovered).CssClass();
    }

    private void ShowStructure()
    {
        Console.WriteLine("Новая структура");
        foreach (var node in Problem)
        {
            Console.WriteLine($"{node.Level} - {node.Name}:");
            Console.Write("Расчет: ");
            foreach (var countNode in node.Criterias())
            {
                Console.Write($"{countNode.Name}, ");
            }
            Console.WriteLine(Matrix.CreateRelations(Problem, node).GetText());
            Console.WriteLine("Матрица локальных");
            Console.WriteLine(Matrix.CreateLocalCoeffs(Problem, node).GetText());
            Console.WriteLine("Матрица глобальных");
            Console.WriteLine(VectorMtx.CreateGlobalCoeffs(node).ToString());
            Console.WriteLine("Матрица коэфф.");
            Console.WriteLine(VectorMtx.CreateCoeffs(Problem, node).ToString());
            Console.WriteLine();
        }
    }
}
