@page "/node"
@inherits DSSProject
@layout EditorLayout

<div>
    <section class="row">
        <section class="navigation">
            <h3>Схема иерархии</h3>
            <div>
                <HierShemeBig ProjectSheme="Project" LinkType="@NodeLink"></HierShemeBig>
            </div>
        </section>
        <section class="edit">
            <h3>Редактирование '@Node.Name'</h3>
            @Node.LevelName()
        <dl>
            <dt>
                <label for="nodename">
                    Название:
                </label>
            </dt>
            <dd>
                <input id="nodename" type="text" style="width:20em" @bind-value="@Node.Name" />
            </dd>
            <dt>
                <label for="nodedescr" >
                    Краткое описание:
                </label>
            </dt>
            <dd>
                <input id="nodedescr" type="text" style="width:25em" @bind-value="@Node.Description" />
            </dd>
            <dt>Итоговый коэффициент:</dt>
            <dd>
                <span>
                    @FormatNumber(Node.Coefficient)
                </span>
            </dd>
            @*<dt>Согласованность (Cr):</dt>
        <dd>
            <span>
                @FormatNumber(Cr)
            </span>
        </dd>*@
            @if (HasRelations())
            {
                <dt>
                    <span>
                        Отношения:
                    </span>
                    <NodeRelations Node="Node" Context="rel" ShowHeader="false">
                        <RelationView>
                            <span>@rel.From.Name - @rel.To.Name</span>
                        </RelationView>
                    </NodeRelations>
                </dt>
                <dd>
                    <div class="actions-section">
                        <button class="action clear-relations" href="@NodeLink" @onclick="ClearRelations">
                            <span class="action-name">Сбросить все отношения</span>
                            <img class="action-icon" src="Images/tech.png" />
                        </button>
                    </div>
                </dd>
                <dt>Матрица отношений:</dt>
                <dd>
                    <NodeMatrix Node="@Node" />
                </dd>
            }
        </dl>
        </section>
    </section>
</div>


@code {
    public INode Node => Project.NodeSelected;
    public double Cr => Node.Cr(Project);

    private IEnumerable<INodeRelation> RelationsOwned()
    {
        return Node.OwnedRelations(Project);
    }
    private bool HasRelations()
    {
        return RelationsOwned().Any();
    }

    private string JsonSheme()
    {
        var template = new Template(Project);
        return JsonSerializer.Serialize(template, DSSApp.JsonOptions);
    }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        Project.OnNodeChanged += () => StateHasChanged();
    }


    private string GetEmPadding(KeyValuePair<int, INode[]> group)
    {
        int level = group.Key;
        return ((double)level / 2).ToString().Replace(',', '.');
    }
    private string Name(KeyValuePair<int, INode[]> group)
    {
        int level = group.Key;
        string firstNode = group.Value.First().LevelName();
        return $"{firstNode} ({level})";
    }

    private void ClearRelations()
    {
        Relations[Node].SetUnknown();
    }

}