@page "/relation-edit"
@inherits DSSProject
@layout EditorLayout


<div class="relations-grid">
    <section class="criterias">
        <style>
            .criterias-list {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }

            .criteria {
                display: flex;
                margin: 2px;
                padding: 3px;
                border: 1px solid gainsboro;
                font-size: 0.8em;
                border-radius: 3px;
                cursor: pointer;
            }

                .criteria.selected-now {
                    font-weight: bold;
                }

                .criteria:hover {
                    background-color: whitesmoke;
                }

            .progress {
                height: 4px;
                background: lightgreen;
                margin-left: 3px;
                transition-property: width;
                transition-duration: 0.4s;
            }

            .criteria-char {
                font-size: 1.5em;
                text-align: center;
                margin-right: 5px;
                width: 20px;
            }
        </style>

        <h3>
            Критерии
        </h3>
        <div class="criterias-list">
            @foreach (var criteria in Relations.Where(r => r.Any()))
            {
                <a class="criteria @(RelationActive.Main == criteria.Key ? "selected-now" : "")" role="button" @onclick="() => SetNow(criteria.FirstRequired)">
                    <span class="criteria-char">
                        @(!criteria.Known ? "~" : !criteria.Consistent ? "X" : "✓")
                    </span>
                    <div style="flex:1; margin: 0 3px">
                        <div style="display: flex; justify-content:space-between; align-items: center;">
                            <span style="margin: 2px 0">
                                @criteria.Key.Level: @criteria.Key.Name
                            </span>
                            <span style="font-size:0.8em; color: gray;">
                                @criteria.Required.Where(r => !r.Unknown && !r.Self).Count() / @Math.Max(1, criteria.Required.Where(r => !r.Self).Count())
                            </span>
                        </div>
                        <div class="progress" style="width:@(((double)criteria.Where(r => !r.Unknown && !r.Self).Count() / Math.Max(1, criteria.Where(r => !r.Self).Count()) * 100).ToString("0"))%; background-color:@(!criteria.Known ? "#e7de79" : criteria.Consistent ? "lightgreen" : "lightpink")"></div>
                    </div>
                </a>
                if (RelationActive.Main == criteria.Key)
                {
                    <div style="font-size:0.8em; margin-right: 1em;">
                        <NodeRelations Node="RelationActive.Main" Context="rel" ShowState="false" ShowHeader="false">
                            <RelationView>
                                <span>@rel.From.Name - @rel.To.Name</span>
                            </RelationView>
                        </NodeRelations>
                    </div>
                }
            }
        </div>
    </section>
    <section class="relation-area">
        <h3>@RelationActive.Main.Name</h3>
        <Tab>
            <TabItem>
                <Title>
                    <span>Сравнение</span>
                </Title>
                <ChildContent>
                    <RelationQuestion Relation="@RelationActive" />
                </ChildContent>
            </TabItem>
            <TabItem>
                <Title>
                    <span>Матрица</span>
                </Title>
                <ChildContent>
                    <NodeMatrix Node="@RelationActive.Main" />
                </ChildContent>
            </TabItem>
        </Tab>
        <div class="prev-next-stages">
            <a class="prev" @onclick="SetPrev" role="button">
                ← назад
            </a>
            <a class="next" @onclick="SetNext" role="button">
                К следующему отношению →
            </a>
        </div>
        <div style="text-align:right; font-size: 0.9em">
            <span>
                @NowProgress / @AllProgress
            </span>
        </div>
        <div class="progress" style="width:@((NowProgress / AllProgress * 100).ToString("0"))%; background-color:@(!Relations.Known ? "#e7de79" : Relations.Consistent ? "lightgreen" : "lightpink")"></div>

    </section>

</div>

@code {
    protected double NowProgress => Relations.SelectMany(c => c.Required).Where(r => !r.Unknown && !r.Self).Count();
    protected double AllProgress => Math.Max(1, Relations.SelectMany(c => c.Required).Where(r => !r.Self).Count());


    protected INodeRelation Prev => Relations.PrevRequiredRel(RelationActive);
    protected INodeRelation Next => Relations.NextRequiredRel(RelationActive);

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Project.OnRelationChanged += OnRelationChanged;
    }
    private void OnRelationChanged()
    {
        Console.WriteLine("Отношение сменилось");
        StateHasChanged();
    }

    private void SetNext()
    {
        SetNow(Next);
    }
    private void SetPrev()
    {
        SetNow(Prev);
    }
}
