@inherits DSSComponent

<section class="sheme">
    @foreach (var levelGroup in ProjectSheme.Grouped())
    {
        <div class="level">
            @if (ShowHeaders)
            {
                <div class="level-name">
                    <span class="level-index">Ур. @levelGroup.Key -</span>
                    <span class="level-text">@levelGroup.First().LevelName()</span>
                </div>
            }
            <div class="level-elements">
                @foreach (var node in levelGroup)
                {
                    <a class="node-element @(GetClass(node))" href="@LinkType" @onclick="() => SetNowMatched(node)">
                        <span>
                            @if (DisplayProperty != null)
                            {
                                @FormatNumber(DisplayProperty(node)) <span>| </span>
                            }
                            @node.Name
                        </span>
                    </a>
                }
            </div>
        </div>
    }
</section>



@code {
    [Parameter]
    public IProject ProjectSheme { get; set; }

    [Parameter]
    public bool ShowHeaders { get; set; } = true;
    [Parameter]
    public Func<INode, double> DisplayProperty { get; set; } = (node) => node.Coefficient;

    [Parameter]
    public ViewSelections ViewSelection { get; set; } = HierShemeBig.ViewSelections.Selection;
    public enum ViewSelections
    {
        Selection, Best, Relations
    };

    [Parameter]
    public string LinkType { get; set; } = "relation-edit";


    private void SetNowMatched(INode node)
    {
        if(ViewSelection == ViewSelections.Selection)
        {
            ProjectSheme.SetNow(node);
        }
        else
        {
            var rel = ProjectSheme.Relations[node].FirstRequired;
            if(rel != null)
            {
                ProjectSheme.SetNow(rel);
            }
        }
    }

    private string GetClass(INode node)
    {
        return new CssNode(ProjectSheme, node, ViewSelection).CssClass();
    }
}

