@inherits DSSComponent

<div class="task-menu-element @IsSelected" @onclick="@SelectProblem" href="hierarchy">
    <a class="task-link" href="hierarchy">
        <div class="task-element-sheme">
            <HierSheme Project="@Project" />
        </div>
        <header class="task-element-header">
            <h4 class="task-element-name">@Project.ProblemActive.MainGoal.Name</h4>
            <p class="task-element-descr">@Project.Status</p>
        </header>
    </a>
    <input class="remove-task" type="button" value="X" @onclick="RemoveProblem" />
</div>

@code {
    [Parameter]
    public IProject Project { get; set; }
    [Parameter]
    public EventCallback Removed { get; set; }

    public string IsSelected => Project == DSSApp.Project ? "selected" : "";

    private void SelectProblem()
    {
        DSSApp.SelectProject(Project);
    }
    private void RemoveProblem()
    {
        DSSApp.RemoveProject(Project);
        Removed.InvokeAsync();
    }
}