@inherits DSSComponentParamRelation

<td colspan="@ColSpan" title="@Rating.Value" style="@CssStyle" class="@CssClass" @onclick="Set">
    @Name()
</td>

@code {
    [CascadingParameter]
    public Dictionary<IRating, IMatrix> RatingMatrix { get; set; }

    [Parameter]
    public INode Node { get; set; }
    [Parameter]
    public int ColSpan { get; set; }
    [Parameter]
    public IRating Rating { get; set; }

    private ICss Css { get; set; }
    private string CssClass => Css.CssClass();
    private string CssStyle => Css.CssStyle();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Css = new CssRating(RatingMatrix, Relation, Rating);
    }

    public string Name()
    {
        return RatingCssSystem.DefaultSystem.GetRuleForRating(Rating).Name;
    }
    private void Set()
    {
        Relation.SetRating(Rating);
    }
}
