@inherits DSSComponentParamRelation
@layout EditorLayout

@if (Relations.Any(c => c.Key == Relation.Main))
{
    <section>
        <p style="font-size:0.9em;">
            @if (Relation.Unknown)
            {
                <span>
                    Сейчас <b>приоритет</b> <i>неизвестен</i>, его необходимо выбрать.
                </span>
            }
            else if (Relations[Relation.Main].Consistent)
            {
                if (Relation.Value > 1)
                {
                    <span>@Relation.From.Name <i>@GetTextRelation(Relation).ToLower()</i> @Relation.To.Name</span>
                }
                else if (Relation.Value < 1)
                {
                    <span>@Relation.To.Name <i>@GetTextRelation(Relation).ToLower()</i>  @Relation.From.Name</span>
                }
                else
                {
                    <span>Оба критерия более-менее <i>равны</i></span>
                }
            }
            else
            {
                <span><b>Приоритет</b> выбран, однако отношения по критерию <i>несогласованы</i>! Стоит их пересмотреть.</span>
            }
        </p>
        <CascadingValue Value="RatingMatrix">
            <table class="matrix" @onclick="@RelationUpdated">
                <colgroup>
                    <col style="width:50%" />
                    <col style="width:50%" />
                </colgroup>
                <tbody>
                    <tr>
                        <th class="side-node from">
                            <a href="@NodeLink" @onclick="() => SetNow(Relation.From)">
                                @Relation.From.Name
                            </a>
                        </th>
                        <th class="side-node to">
                            <a href="@NodeLink" @onclick="() => SetNow(Relation.To)">
                                @Relation.To.Name
                            </a>
                        </th>
                    </tr>



                    @foreach (var group in Ratings)
                    {
                        <tr>
                            <RelationRating Node="Relation.From" Rating="group.forRating" ColSpan="1" Relation="Relation">

                            </RelationRating>
                            <RelationRating Node="Relation.To" Rating="group.toRating" ColSpan="1" Relation="Relation">

                            </RelationRating>
                        </tr>
                    }

                    @*<tr>
                            <RelationRating Node="Relation.From" Rating="RatingEqual" ColSpan="2" Relation="Relation">

                            </RelationRating>
                        </tr>*@
                    <tr>
                        <RelationRating Node="Relation.From" Rating="RatingNone" ColSpan="2" Relation="Relation">

                        </RelationRating>
                    </tr>
                </tbody>
            </table>
        </CascadingValue>
    </section>
}
else
{

}