@inherits DSSComponentParamRelation
@layout EditorLayout

<section>
    <CascadingValue Value="RatingMatrix">
        <table class="matrix" @onclick="@RelationUpdated">
            <colgroup>
                <col style="width:40%" />
                <col style="width:20%" />
                <col style="width:40%" />
            </colgroup>
            <tbody>
                @*<tr>
                    <th class="main-node united" colspan="3">
                        <a href="@NodeLink" @onclick="() => SetNow(Relation.Main)">
                            <h3>
                                @Relation.Main.Name
                            </h3>
                        </a>
                    </th>
                </tr>*@
                <tr>
                    <th class="side-node from">
                        <a href="@NodeLink" @onclick="() => SetNow(Relation.From)">
                            @Relation.From.Name
                        </a>
                    </th>
                    <RelationRating Node="Relation.From" Rating="RatingNone" ColSpan="1" Relation="Relation">

                    </RelationRating>
                    <th class="side-node to">
                        <a href="@NodeLink" @onclick="() => SetNow(Relation.To)">
                            @Relation.To.Name
                        </a>
                    </th>
                </tr>


                <tr>
                    <RelationRating Node="Relation.From" Rating="RatingEqual" ColSpan="3" Relation="Relation">

                    </RelationRating>
                </tr>

                @foreach (var group in Ratings)
                {
                    @if (group.forRating.Value != 1)
                    {
                        <tr>
                            <RelationRating Node="Relation.From" Rating="group.forRating" ColSpan="1" Relation="Relation">

                            </RelationRating>
                            <td class="between">
                                &nbsp;
                            </td>
                            <RelationRating Node="Relation.To" Rating="group.toRating" ColSpan="1" Relation="Relation">

                            </RelationRating>
                        </tr>
                    }
                }

                <tr>
                    <td colspan="3" class="results-message">
                        '@Relation.From.Name' @Relation.GetTextRelation() '@Relation.To.Name'
                    </td>
                </tr>

            </tbody>
        </table>
    </CascadingValue>
    @*<div style="display:flex; justify-content: center">
        <ColoredDefinition Message="Согласованность" Color="#efffef"></ColoredDefinition>
        <ColoredDefinition Message="Рассогласованность" Color="#fff7f8"></ColoredDefinition>
        <ColoredDefinition Message="Неизвестно" Color="white"></ColoredDefinition>
    </div>*@
</section>


@code {
}
