@inherits DSSComponentParamRelation

<span style="font-size:0.9em;">
    @if (RelationActive.Unknown)
    {
        <span>
            Сейчас <b>приоритет</b> <i>неизвестен</i>, его необходимо выбрать.
        </span>
    }
    else if (Relations[RelationActive.Main].Consistent)
    {
        if (RelationActive.Value > 1)
        {
            <span>'@RelationActive.From.Name' @GetTextRelation(RelationActive) '@RelationActive.To.Name'</span>
        }
        else if (RelationActive.Value < 1)
        {
            <span>'@RelationActive.To.Name' @GetTextRelation(RelationActive)  '@RelationActive.From.Name'</span>
        }
        else
        {
            <span>Оба варианта более-менее <i>равны</i></span>
        }
    }
    else
    {
        <span>Приоритет выбран, однако сравнение по критерию <i>несогласовано</i>! Необходимо скорректировать отношения</span>
    }
</span>

@code {

    public string GetTextRelation(INodeRelation relation)
    {
        if (relation.Unknown)
            return "??????";
        double val = relation.Value > 1 ? relation.Value : 1 / relation.Value;
        if (val == 1)
            return $"РАВНОЗНАЧЕН";
        if (val >= 9)
            return "АБСОЛЮТНО ПРЕВОСХОДИТ";
        else if (val >= 8)
            return "СИЛЬНО ПРЕОБЛАДАЕТ над";
        else if (val >= 7)
            return "СИЛЬНО ПРЕОБЛАДАЕТ над";
        else if (val >= 6)
            return "ПРЕОБЛАДАЕТ над";
        else if (val >= 5)
            return "ПРЕОБЛАДАЕТ над";
        else if (val >= 4)
            return "НЕМНОГО ПРЕОБЛАДАЕТ над";
        else if (val >= 3)
            return "НЕМНОГО ПРЕОБЛАДАЕТ над";
        else if (val >= 2)
            return "СЛЕГКА ПРЕОБЛАДАЕТ над";
        else
            return "СЛЕГКА ПРЕОБЛАДАЕТ над";
    }
}
