@page "/settings"
@inherits DSSComponent
@layout MainLayout

<style>
    main{
        width: 75%;
    }
</style>

<section>
    <Tab>
        <TabItem>
            <Title>
                <h4 class="tab-header">Логи</h4>
            </Title>
            <ChildContent>
                <table class="table-logs">
                    <colgroup>
                        <col style="width:5%" />
                        <col style="width:5%" />
                        <col style="width:10%" />
                        <col style="width:10%" />
                        <col style="width:65%" />
                        @*<col style="width:45%" />*@
                        @*<col style="width:10%" />*@
                    </colgroup>
                    <tbody>
                        <tr class="log-header-row">
                            <th>#</th>
                            <th>Уровень</th>
                            <th>Дата</th>
                            <th>Категория</th>
                            <th>Сообщение</th>
                            @*<th>Подробно</th>*@
                            @*<th>Объект</th>*@
                        </tr>
                        @foreach (var log in Logger.Logs.OrderByDescending(l => l.ID))
                        {
                            <tr class="log-object-row">
                                <td>@log.ID</td>
                                <td>@log.State.ToString().ToUpper()</td>
                                <td>@log.CreationDate.ToString("HH:mm:ss:ffff")</td>
                                <td>@log.Category</td>
                                <td>
                                    <span>@log.Title</span> 
                                    <br />
                                    <span style="font-size:0.9em; color: #838383">@log.Message</span>
                                </td>
                                @*<td style="font-size:0.9em;">@log.Message</td>*@
                                @*<td>@log.SourceObject.GetType().Name</td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </ChildContent>
        </TabItem>
        <TabItem>
            <Title>
                <h4 class="tab-header">Настройки отношений </h4>
            </Title>
            <ChildContent>
                <section>
                    <div class="option-section">
                        <label class="option-name" for="border-cons">Граница согласованности (0.2)</label>
                        <input class="option-input" id="border-cons" type="number" step="0.01" @bind-value="@MtxConsistency.BorderDefault" />
                    </div>
                    <div class="option-section">
                        <label class="option-name" for="amount">Градации оценок:</label>
                        <input class="option-input" id="amount" type="number" @bind-value="@RatingSystem.Amount" min="1" max="9" />
                    </div>
                </section>
            </ChildContent>
        </TabItem>
    </Tab>


</section>

@code{

}

