@page "/results"
@inherits DSSComponentProject
@layout EditorLayout

@*
    Страница отображения рассчитанных результатов для текущей задачи
*@

@if(Project.IsActiveHierCreated && !Project.IsEmptyProject)
{
    <CascadingValue Name="Project" Value="Project">
        <section class="res">
        @if (Relations.Correct)
        {
            <div class="sheme">
                <HierarchySchemeComponent
                    ProjectActive="Project"
                    UseEditing="false"
                    DisplayProperty="n => n.Coefficient"
                    SchemeFilter="HierarchySchemeComponent.SchemeFilters.Best"
                    FontSizeEm="0.8">

                </HierarchySchemeComponent>
            </div>
            <div class="res-info">
                @foreach (var levelGroup in GroupedResults())
                {
                    <section class="results-list">
                        <h4 class="level-header">
                            @HeaderText(levelGroup)
                        </h4>
                        <div>
                            <ul class="results">
                                @foreach (var node in levelGroup.OrderByDescending(n => n.Coefficient))
                                {
                                    <li>
                                        <span class="node-name">
                                            @node.Name
                                        </span>
                                        <span class="node-rating">
                                            @((node.Coefficient * 100).ToString("0.00"))
                                        </span>
                                        <div class="node-progress">
                                            <div class="progress-filler" style="width:@ReturnPrs(node)%" />
                                        </div>
                                    </li>
                                }
                            </ul>
                            <p class="level-best-nodes">
                                ЛУЧШИЙ ВЫБОР – <span class="node-best">
                                    @string.Join(", ", levelGroup.Where(n => n.Coefficient == levelGroup.Max(n => n.Coefficient)).Select(n => n.Name))
                                    </span>
                            </p>

                        </div>
                    </section>
                }

            </div>
        }
        else
        {
            <div class="sheme">
                <HierarchySchemeComponent
                    ProjectActive="Project"
                    UseEditing="false"
                    DisplayProperty="n => n.GetCr()"
                    SchemeFilter="HierarchySchemeComponent.SchemeFilters.Relations"
                    LinkType="@LinksEnum.Relations">

                </HierarchySchemeComponent>
            </div>

            <div class="sheme-info">
                <section class="sheme-info-total">
                    <p>
                        Пока результаты недоступны:
                    </p>
                    <div class="info-details">
                        @if (!Relations.Consistent)
                        {
                            @foreach (var nodeCriteria in Project.Relations.GetUnconsistenctNodeCriterias())
                            {
                                <CriteriaNodeRelationsList RelationsCriteria="nodeCriteria" Context="rel">
                                    <RelationView>
                                        <span>@rel.From.Name - @rel.To.Name</span>
                                    </RelationView>
                                </CriteriaNodeRelationsList>
                            }
                        }
                        @if (!Relations.Known)
                        {
                            @foreach (var nodeCriteria in Project.Relations.GetUnknownNodeCriterias())
                            {
                                <CriteriaNodeRelationsList RelationsCriteria="nodeCriteria" Context="rel" RelationNodeFilter="rel => rel.Unknown">
                                    <RelationView>
                                        <span>@rel.From.Name ??? @rel.To.Name</span>
                                    </RelationView>
                                </CriteriaNodeRelationsList>
                            }
                        }
                    </div>
                </section>
            </div>
        }
    </section>
    </CascadingValue>
}

@code{
    private string ReturnPrs(INode node)
    {
        return (node.Coefficient * 100).ToString("0");
    }

    private IEnumerable<IGrouping<string, INode>> GroupedResults()
    {
        return HierarchyActive.Nodes.Where(n => n.Level != 0).GroupBy(n => n.GroupOwner);
    }

    private string HeaderText(IGrouping<string, INode> group)
    {
        return $"Сравнение по '{group.Key}', ур. {group.First().Level}";
    }

}