@page "/Options"
@inherits DSSComponent
@layout EditorLayout

<section>
    <h4>Настройки отношений </h4>
    <section>
        <div class="option-section">
            <label class="option-name" for="border-cons">Граница согласованности (0.2)</label>
            <input class="option-input" id="border-cons" type="number" step="0.01" @bind-value="@MtxConsistency.BorderDefault" />
        </div>
        <div class="option-section">
            <label class="option-name" for="amount">Градации оценок:</label>
            <input class="option-input" id="amount" type="number" @bind-value="@RatingSystem.Amount" min="1" max="9" />
        </div>
    </section>
    <section>
        <h5>Правила</h5>
        <table class="rating-system">
            <colgroup>
                <col style="width:10%" />
                <col style="width:10%" />
                <col style="width:30%" />
                <col style="width:50%" />
            </colgroup>
            <tr>
                <th>От >=</th>
                <th>До</th>
                <th>Имя</th>
                <th>Стиль</th>
            </tr>
            @foreach (var rule in RatingRules.Rules)
            {
                <tr>
                    <td>
                        <input type="number" @bind-value="@rule.FromVal" />
                    </td>
                    <td>
                        <input type="number" @bind-value="@rule.ToVal" />
                    </td>
                    <td>
                        <input type="text" @bind-value="@rule.Name" />
                    </td>
                    <td>
                        <input type="text" style="@rule.Style" @bind-value="@rule.Style" />
                    </td>
                </tr>
            }
        </table>
    </section>
</section>

