@page "/view"
@inherits DSSProject
@layout EditorLayout

<div class="relations-state">
    <section class="sheme-nav">
        @*<h3>Схема иерархии</h3>*@
        <HierShemeBig ProjectSheme="Project" LinkType="@RelationsLink" ViewSelection="HierShemeBig.ViewSelections.Relations">

        </HierShemeBig>
        <div hidden>
            <ColoredDefinition Color="#dfffdf" Message="известно и согласовано"></ColoredDefinition>
            <ColoredDefinition Color="lightyellow" Message="неизвестность"></ColoredDefinition>
            <ColoredDefinition Color="#ffdee3" Message="рассогласованность"></ColoredDefinition>
        </div>
    </section>

    <div class="sheme-info">
        <section class="sheme-info-total">
            @*<h3>Отношения</h3>*@
            <p>
                <a href="legacy/view">
                    Старый обзор
                </a>
            </p>
            <div class="info-details">
                @if (Relations.Correct)
                {
                    <p class="no-errors">
                        ✓ Отлично, все отношения заполнены и согласованы
                    </p>
                    <p>
                        <a href="@ResultsLink">Посмотреть результат</a>
                    </p>
                }
                else
                {
                    if (!Relations.Consistent)
                    {
                        @foreach (var node in Project.UnconsistenctNodes())
                        {
                            <NodeRelations Node="node" Context="rel">
                                <RelationView>
                                    <span>@rel.From.Name - @rel.To.Name</span>
                                </RelationView>
                            </NodeRelations>
                        }
                    }
                    if (!Relations.Known)
                    {
                        @foreach (var node in Project.UnknownNodes())
                        {
                            <NodeRelations Node="node" Context="rel" RelationFilter="rel => rel.Unknown">
                                <RelationView>
                                    <span>@rel.From.Name ??? @rel.To.Name</span>
                                </RelationView>
                            </NodeRelations>
                        }
                    }
                }
            </div>
        </section>
    </div>
</div>

@code {


}
